#bg {
  width: 100%;
  height: 100%;
  viewport-fill: black;
}

#header {
	x: 0;
	y: 20%;
}

#sun {
	x: 20%;
	y: -12%;
}

#space {
	x: 24;
	y: -1%;
    font-family: "System-Regular";
    font-size: 18;
    text-length: 3;
    text-anchor: middle;
    fill: white;
}

#next_sun_event {
	x: 0;
	y: 0;
    font-family: "System-Regular";
    font-size: 24;
    text-length: 5;
    text-anchor: end;
    fill: white;
}

#after_next_sun_event {
	x: 0;
	y: 12%;
    font-family: "System-Regular";
    font-size: 24;
    text-length: 5;
    text-anchor: end;
    fill: white;
}

#next_moon_event {
	x: 29%;
	y: 0;
    font-family: "System-Regular";
    font-size: 24;
    text-length: 5;
    text-anchor: end;
    fill: white;
}

#after_next_moon_event {
	x: 29%;
	y: 12%;
    font-family: "System-Regular";
    font-size: 24;
    text-length: 5;
    text-anchor: end;
    fill: white;
}

#moonphase {
	x: -1009%;
	y: 12%;
    font-family: "System-Regular";
    font-size: 24;
    text-length: 3;
    text-anchor: end;
    fill: white;
}

#moonphase_pic {
	x: -10%;
	y: -12%;
	width: 24;
	height: 24;
  fill: white;
}

#date {
	x: 60%;
	y: 0;
}

#dow {
    x: 0;
    y: 0;
    font-family: "System-Regular";
    font-size: 36;
    text-length: 3;
    text-anchor: end;
    fill: white;
}

#day {
    x: 9%;
    y: 0;
    font-family: "System-Regular";
    font-size: 36;
    text-length: 2;
    text-anchor: middle;
    fill: white;
}

#month {
    x: 38%;
    y: 0;
    font-family: "System-Regular";
    font-size: 36;
    text-length: 3;
    text-anchor: end;
    fill: white;
}

#brand {
	y: 70;
	height: 10;
}

#time {
	x: 6%;
    y: 69%;
}

#hours {
    x: 0;
	y: 0;
    font-family: "System-Bold";
    font-size: 96;
    text-length: 2;
    fill: white;
}

#sep {
    x: 33%;
	y: 0;
    font-family: "System-Bold";
    font-size: 96;
    text-length: 1;
    fill: white;
}

#minutes {
    x: 39%;
	y: 0;
    font-family: "System-Bold";
    font-size: 96;
    text-length: 2;
    fill: white;
}

#seconds {
    x: 92%;
	y: 0;
    font-family: "System-Bold";
    font-size: 48;
    text-length: 2;
    text-anchor: end;
    fill: white;
}

#footer {
	y: 98%;
}

#stats {
	x: 70%;
	y: 0;
}

#steps {
    x: 0;
    y: -12%;
    font-family: "System-Regular";
    font-size: 24;
    text-length: 4;
    fill: white;
    text-anchor: end;
}

#heartrate {
    x: 0;
    y: 0;
    font-family: "System-Regular";
    font-size: 24;
    text-length: 3;
    text-anchor: end;
    fill: white;
}

#finance {
	x: 96%;
	y: 0;
}

#aux {
	x: 0;
    y: -12%;
    font-family: "System-Regular";
    font-size: 24;
    text-length: 6;
    text-anchor: end;
    fill: white;
}

#btc {
	x: 0;
	y: 0;
    font-family: "System-Regular";
    font-size: 24;
    text-length: 5;
    text-anchor: end;
    fill: white;
}
